<div class="container">
  <h2>Store items in hive section: {{ hiveSectionId }}</h2>  
              <h5>Comfirmed items</h5>
              <div class="card-body" id="headingOne">
                  <table class="table table-nonfluid">
                      <thead>
                          <th scope="col">#</th>
                          <th scope="col">Product Id</th>
                          <th scope="col">Product Name</th>
                          <th scope="col">Product Code</th>
                          <th scope="col">Product Category Code</th>
                          <th scope="col">Quantity</th>
                          <th scope="col">Status</th>
                          <th scope="col"></th>
                      </thead>
                      <tbody>
                          <tr *ngFor="let storeItem of confirmedStoreItems">
                              <th scope="row">{{ storeItem.id }}</th>
                              <td class="text-center">{{ storeItem.productId }}</td>
                              <td>{{ storeItem.productName }}</td>
                              <td>{{ storeItem.productCode }}</td>
                              <td>{{ storeItem.productCategoryCode }}</td>
                              <td>{{ storeItem.quantity }}</td>
                              <td>{{storeItem.isConfirmed}}</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <h5>Uncomfirmed items</h5>
              <div class="card-body" id="headingTwo">
                  <table class="table table-nonfluid">
                      <thead>
                          <th scope="col">#</th>
                          <th scope="col">Product Id</th>
                          <th scope="col">Product Name</th>
                          <th scope="col">Product Code</th>
                          <th scope="col">Product Category Code</th>
                          <th scope="col">Quantity</th>
                          <th scope="col"></th>
                      </thead>
                      <tbody>
                          <tr *ngFor="let storeItem of unconfirmedStoreItems">
                              <th scope="row">{{ storeItem.id }}</th>
                              <td class="text-center">{{ storeItem.productId }}</td>
                              <td>{{ storeItem.productName }}</td>
                              <td>{{ storeItem.productCode }}</td>
                              <td>{{ storeItem.productCategoryCode }}</td>
                              <td>{{ storeItem.quantity }}</td>
                              <td>
                                  <span class="btn-toolbar" role="toolbar" aria-label="Store item action buttons"
                                      style="display: block; white-space:nowrap;">
                                      <div class="btn-group mr-2" role="group" (click)="onConfirm(storeItem)"> 
                                          <button type="button" class="btn btn-success">Confirm addition</button>
                                      </div>                                        
                                  </span>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
  <div class="btn-toolbar" role="toolbar" aria-label="Action buttons">
    <div class="btn-group mr-1" role="group" aria-label="Back group">
      <button routerLink="/hive/{{ hiveId }}/sections" type="button" class="btn btn-primary">Back</button>
    </div>
  </div>
</div>